* {
  margin: 0;
  padding: 0;
}
*,
*::before
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #26134e;
  --width: 20rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--priamry);
}
button {
  min-width: var(--width);
  width: var(--width);
  aspect-ratio: 1 / 0.5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--width);
  overflow: hidden;
  background-color: #fff1;
  border-top: 1px solid #fff2;
  border-bottom: 1px solid #0006;
  box-shadow: 4px 4px 14px #0005;
  transition: background-color 400ms ease;
}
button i {
  font-size: calc(var(--width) / 4.25);
  color: white;
  transition: color 400ms ease;
  line-height: calc(var(--width) / 2);
}
